{% extends 'base.html' %}

{% block title %}Donations - Raghavendra Swami Math{% endblock %}

{% block content %}

<!-- Photo Gallery Section -->
<section id="rsm-announcements-photo-gallery-section">
    <div id="rsm-announcements-photo-gallery-container">
        <h2 id="rsm-announcements-photo-gallery-heading">Event Gallery</h2>
        <div id="rsm-announcements-photo-gallery-row-1">
            <div id="rsm-announcements-photo-gallery-column-1">
                <a id="rsm-announcements-photo-gallery-link-1"
                    href="{{ url_for('static', filename='images/gallery1.jpg') }}" data-lightbox="gallery"
                    data-title="Aradhana Celebrations 2024">
                    <img id="rsm-announcements-photo-gallery-img-1"
                        src="{{ url_for('static', filename='images/gallery1.jpg') }}" alt="Event 1">
                </a>
            </div>
            <div id="rsm-announcements-photo-gallery-column-2">
                <a id="rsm-announcements-photo-gallery-link-2"
                    href="{{ url_for('static', filename='images/gallery2.jpg') }}" data-lightbox="gallery"
                    data-title="Sankranti Celebrations 2024">
                    <img id="rsm-announcements-photo-gallery-img-2"
                        src="{{ url_for('static', filename='images/gallery2.jpg') }}" alt="Event 2">
                </a>
            </div>
            <div id="rsm-announcements-photo-gallery-column-3">
                <a id="rsm-announcements-photo-gallery-link-3"
                    href="{{ url_for('static', filename='images/gallery3.jpg') }}" data-lightbox="gallery"
                    data-title="Rama Navami 2024">
                    <img id="rsm-announcements-photo-gallery-img-3"
                        src="{{ url_for('static', filename='images/gallery3.jpg') }}" alt="Event 3">
                </a>
            </div>
            <div id="rsm-announcements-photo-gallery-column-4">
                <a id="rsm-announcements-photo-gallery-link-4"
                    href="{{ url_for('static', filename='images/gallery4.jpg') }}" data-lightbox="gallery"
                    data-title="Krishna Janmashtami 2024">
                    <img id="rsm-announcements-photo-gallery-img-4"
                        src="{{ url_for('static', filename='images/gallery4.jpg') }}" alt="Event 4">
                </a>
            </div>
            <div id="rsm-announcements-photo-gallery-column-5">
                <a id="rsm-announcements-photo-gallery-link-5"
                    href="{{ url_for('static', filename='images/gallery5.jpg') }}" data-lightbox="gallery"
                    data-title="Guru Purnima 2024">
                    <img id="rsm-announcements-photo-gallery-img-5"
                        src="{{ url_for('static', filename='images/gallery5.jpg') }}" alt="Event 5">
                </a>
            </div>
            <div id="rsm-announcements-photo-gallery-column-6">
                <a id="rsm-announcements-photo-gallery-link-6"
                    href="{{ url_for('static', filename='images/gallery7.jpg') }}" data-lightbox="gallery"
                    data-title="Navaratri 2024">
                    <img id="rsm-announcements-photo-gallery-img-6"
                        src="{{ url_for('static', filename='images/gallery7.jpg') }}" alt="Event 6">
                </a>
            </div>
            <div id="rsm-announcements-photo-gallery-column-6">
                <a id="rsm-announcements-photo-gallery-link-6"
                    href="{{ url_for('static', filename='images/gallery8.jpg') }}" data-lightbox="gallery"
                    data-title="Navaratri 2024">
                    <img id="rsm-announcements-photo-gallery-img-6"
                        src="{{ url_for('static', filename='images/gallery8.jpg') }}" alt="Event 6">
                </a>
            </div>
            <div id="rsm-announcements-photo-gallery-column-6">
                <a id="rsm-announcements-photo-gallery-link-6"
                    href="{{ url_for('static', filename='images/gallery9.jpg') }}" data-lightbox="gallery"
                    data-title="Navaratri 2024">
                    <img id="rsm-announcements-photo-gallery-img-6"
                        src="{{ url_for('static', filename='images/gallery9.jpg') }}" alt="Event 6">
                </a>
            </div>

        </div>
        <div id="rsm-announcements-photo-gallery-footer">
            <a id="rsm-announcements-photo-gallery-link-all" href="#">View All Photos</a>
        </div>
    </div>
</section>


{% endblock %}